controller_manager:
  ros__parameters:
    update_rate: 1000

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    realtime_controller:
      type: rlc_controller_cpp/RealtimeController

realtime_controller:
  ros__parameters:
    joints:
      - fr3_joint1
      - fr3_joint2
      - fr3_joint3
      - fr3_joint4
      - fr3_joint5
      - fr3_joint6
      - fr3_joint7
    tcp_frame: tool_frame
    command_interfaces:
      - effort
    state_interfaces:
      - position
      - velocity
