<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="gen3">

  <xacro:arg name="controllers_yaml"/>

  <xacro:include filename="$(find kortex_description)/robots/kortex_robot.xacro"/>

  <xacro:property name="initial_positions" value="${dict(
  joint_1=0.0, 
  joint_2=0.0, 
  joint_3=0.0, 
  joint_4=0.0, 
  joint_5=0.0, 
  joint_6=0.0, 
  joint_7=0.0
  )}"/>

  <xacro:load_robot
    parent="world"
    arm="gen3"
    gripper=""
    gripper_joint_name=""
    dof="7"
    vision="true"
    robot_ip="192.168.1.10"
    username="admin"
    password="admin"
    port="10000"
    port_realtime="10001"
    session_inactivity_timeout_ms="60000"
    connection_inactivity_timeout_ms="2000"
    use_internal_bus_gripper_comm="true"
    sim_gazebo="true"
    sim_isaac="false"
    prefix=""
    use_fake_hardware="false"
    initial_positions="${initial_positions}"
    use_external_cable="false"
    fake_sensor_commands="false"
    gripper_com_port="">
    <origin xyz="0 0 0.0" rpy="0 0 0" />
  </xacro:load_robot>

  <gazebo>
    <plugin filename="libgz_ros2_control-system.so"
            name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>${controllers_yaml}</parameters>
      <controller_manager_name>controller_manager</controller_manager_name>
    </plugin>
  </gazebo>


</robot>
